@layer reset, init, design;

@import url(./normalize.css) layer(reset);

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap") layer(init);

@layer init {
  :root {
    color-scheme: light dark;
    --header-bg-color: light-dark(#3b3e40, #3b3e40);
    --header-text-color: light-dark(#fff, #fff);
    --primary-color: light-dark(#66d4d4, #2d6363);
    --secondary-color: light-dark(#fff, #fff);
    --text-color: light-dark(#000, #fff);
    --bg-color: light-dark(#fff, #121212);
  }

  html {
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    color: var(--text-color);
  }

}

@layer design {

  body {
    background-color: var(--bg-color);
  }

  main {
    padding: 1rem;
    max-width: 960px;
    margin: 0 auto;
}
h1 {
    font-size: 4rem;
    font-weight: extra-bold; /* 800 */
}
.header {
    background-image: url("../images/header-2560w.webp");
    background-size: cover;
    background-position: top left;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    line-height: 1.5;
    padding: 1rem;
}
.header__nav {
    text-align: center;
}
.header__intro {
    margin-top: 10vh;
}
.button {
    display: inline-block;
    padding: 0.75em 2em;
    border-radius: 0.5rem;   
}
.button-light {
    background-color: var(--secondary-color);
    color: black;
    text-decoration: none;
}
.button-blue {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
}
.img-fluid {
    display: block;
    width: 100%;
    height: auto;
}
.img-block {
    margin: 0;
}
.img-block__caption {
    text-align: center;
    font-size: 14px;
    padding: 16px;
    margin-bottom: 1em;
}
.info-box {
    padding: 1.5rem;
    border-width: 3px;
    border: solid var(--primary-color);
}
.info-box__title {
    color: var(--text-color);
    margin-bottom: 1em;
}
.info-box__h1 {
    font-size: 18px;
    font-weight: 700;
}
.info-box__content {
    color: var(--text-color);
    font-size: 1em;
    line-height: 1.5;
}
.offer-box {
    color: var(--text-color);
    padding-top: 1em;
    padding-bottom: 1em;
}
.offer-box__title {
    color: var(--text-color);
    margin-bottom: 1em;
}
.offer-box__h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1em;
}
.offer-box__content {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
}
.offer-box__list {
    list-style: none;
}
.drone-store {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}
.drone-store > header {
    flex-basis: 100%;
    box-sizing: border-box;
}
.drone-store__title {
    color: var(--text-color);
    margin-bottom: 5px;
}
.drone-store__h1 {
    font-size: 28px;
    font-weight: 700;
}
.drone-store > span {
    flex: 1 1 280px; 
    min-width: 280px;
    max-width: 560px; 
    box-sizing: border-box;
}
.drone-store__item {
    max-width: 280px;
    display: inline-block;
    padding: 1em;
    vertical-align: top;
}
.img-store {
    display: block;
    width: 100%;
    max-width: 280px;
    max-height: 250px;
    border: 1px;
    border-radius: 0.5rem;
}
.drone-store__item-h1 {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 1em;
}
.drone-store__content {
    color: var(--text-color);
    max-width: 280px;
}
.drone-discount {
    color: var(--text-color);
    background-color: var(--header-bg-color);
    width: 100%;
    padding: 2rem;
    border-radius: 0.2rem;
    text-align: center;
    margin-top: 2rem;
}
.drone-discount__title {
    color: var(--text-color);
    margin-bottom: 1em;
}
.drone-discount__h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1em;
}
.h1__max {
    font-size: 4rem;}
}